params {
    accessions   = "inputs/accessions.csv"
    outgroup     = "inputs/outgroup.csv"
    outdir       = "results"
    identity     = 60
    cpus_prokka  = 8
    cpus_roary   = 16
}

conda {
	enabled = true
	channelPriority = 'strict'
}

report {
    enabled = true
    file    = "${params.outdir}/report.html"
}

process {
    executor = 'local'   // default
}

profiles {
    slurm {
        process.executor = 'slurm'
        conda.enabled    = true

        withName: 'DOWNLOAD' {
            time   = '1h'
            cpus   = 2
            memory = '8 GB'
        }
        withName: 'PROKKA' {
            time   = '2h'
            cpus   = 8
            memory = '16 GB'
        }
    } 
    local {
        process {
            executor = 'local'
        }
        conda {
            enabled = true
        }
    }

    test {
        params.accessions = "inputs/test_accessions.csv"
        params.outgroup   = "inputs/test_outgroup.csv"
    }
}
