params {
    accessions   = "inputs/accessions.csv"
    outgroup     = "inputs/outgroup.csv"
    outdir       = "results"
    identity     = 60
    cpus_prokka  = 8
    cpus_roary   = 16
}

process {
    executor = 'local'   // default
}

profiles {
    slurm {
        process {
            executor = 'slurm'
        }
        conda {
            enabled = true
        }
        // no account specified → use system default
    }

    local {
        process {
            executor = 'local'
        }
        conda {
            enabled = true
        }
    }

    test {
        params.accessions = "inputs/test_accessions.csv"
        params.outgroup   = "inputs/test_outgroup.csv"
    }
}
